* {
  font-family: Playwrite AU QLD, cursive;
}

.playwrite-au-qld-card1 {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card1 {
  perspective: 3200px;
  position: relative;
  height: 280px;
  max-width: 320px;
  margin: 32px;
  background: none;
}

.card1-side {
  height: 280px;
  border-radius: 16px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 32px;
  color: white;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6em;
}

.card1-side.back {
  transform: rotateY(-180deg);
  background-image: url(/images/dls.png);
  background-size: contain;
}

.card1-side.front {
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.card1:hover .card1-side.front {
  transform: rotateY(180deg);
}

.card1:hover .card1-side.back {
  transform: rotateY(0deg);
}

.card2 {
  perspective: 3200px;
  position: relative;
  height: 280px;
  max-width: 320px;
  margin: 32px;
  background: none;
}

.card2-side {
  height: 280px;
  border-radius: 16px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 32px;
  color: white;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6em;
}

.card2-side.back {
  transform: rotateY(-180deg);
  background-image: url(/images/nrr.png);
  background-size: cover;
}

.card2-side.front {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.card2:hover .card2-side.front {
  transform: rotateY(180deg);
}

.card2:hover .card2-side.back {
  transform: rotateY(0deg);
}

.card3 {
  perspective: 3200px;
  position: relative;
  height: 280px;
  max-width: 320px;
  margin: 32px;
  background: none;
}

.card3-side {
  height: 280px;
  border-radius: 16px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 32px;
  color: white;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6em;
}

.card3-side.back {
  transform: rotateY(-180deg);
  background-image: url(/images/bowl.png);
  background-size: cover;
}

.card3-side.front {
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.card3:hover .card3-side.front {
  transform: rotateY(180deg);
}

.card3:hover .card3-side.back {
  transform: rotateY(0deg);
}
