.playwrite-au-qld-dls {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Playwrite AU QLD", cursive;
}

body {
  position: relative;
  background-image: url(/images/bg2.jpg);
  background-size: 100% 120%;
  background-repeat: no-repeat;
}

label,
h2 {
  color: antiquewhite;
  font-weight: bolder;
}

.container {
  position: relative;
  left: 90px;
}

.container input {
  background-color: rgba(210, 216, 216, 0.918);
}

.extra-info {
  position: relative;
  width: 200px;
  height: 80vh;
  right: -140px;
  top: 70px;
}

.one {
  position: relative;
  width: 240px;
  background-color: rgba(0, 0, 0, 0.74);
  color: beige;
  font-size: 1.6em;
  visibility: hidden;
  top: 90px;
}

.two {
  position: relative;
  width: 240px;
  background-color: rgba(0, 0, 0, 0.74);
  color: beige;
  font-size: 1.6em;
  visibility: hidden;
  top: 40px;
}

.three {
  position: relative;
  width: 240px;
  background-color: rgba(0, 0, 0, 0.74);
  color: beige;
  font-size: 1.6em;
  visibility: hidden;
  top: 10px;
}

.four {
  position: relative;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.74);
  color: beige;
  font-size: 1.6em;
  visibility: hidden;
  top: -150px;
}

.return {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 160px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.74);
  padding: 20px;
}

.return a {
  text-decoration: none;
  color: whitesmoke;
}
